body{
  background-color: coral;
}

.App{
  background-color: crimson;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: lightcoral;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;   
  transition: 0.3 linear all;
  color: #fff;
  border-radius: 7px;
  font-size: large;
  font-weight: 300;
}

#to-do-form input::placeholder{
  color: blanchedalmond;
}

#to-do-form input:hover{
  background-color: rgb(255, 110, 110);
}

#to-do-form button{
  height: 50px;
  width: 80px;
  background-color: rgb(245, 72, 72);
  border: 0;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
}

#to-do-form button:hover{
  background-color: rgb(252, 113, 113);
  font-size: large;
  font-weight: bolder;
}